* {
  box-sizing: border-box;
}
body {
  font-family: verdana;
  font-size: 16px;
  background: $light-blue-color;
}
.container {
  margin: 20px auto 20px auto;
  max-width: 500px;
  background: $white-color;
  border-radius: 10px;
  padding: 2px 15px 15px;
}
.text-center {
  text-align: center;
}