h3 {
  font-size: 18px;
  margin: 1em 0px;
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.error {
  color: $red-color;
  font-size: 14px;
  &.center {
    text-align: center;
    padding-top: 20px;
  }
}
label {
  display: block;
  font-size: 14px;
}
