$primary-color: #a0bfd6;
$white-color: #fff;
$gray-color: #999;
$light-gray-color: #ededed;
$red-color: red;
$blue-color: #2e60fd;
$light-blue-color: #3f94ff;
$black-color: #000;
$green-color: #008000;
$orange-color: orange;
