.button {
  border-radius: 5px;
  font-size: 14px;
  border: 0px;
  padding: 10px;
  &.primary {
    background: $blue-color;
    color: $white-color;
  }
  &.secondary {
    background: $gray-color;
    color: $white-color;
  }
  &.plus {
    font-size: 16px;
    border: solid 1px $gray-color;
    background: $white-color;
    border-radius: 5px;
    font-size: 25px;
    padding: 0px 10px;
    margin-left: 5px;
    margin-top: 10px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &.link {
    background: none;
    padding: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}

.button-set {
  display: flex;
  justify-content: space-around;
  .button {
    width: 49%;
    margin: 4px 0px;
  }
}
