input {
  padding: 10px;
  font-size: 16px;
  border: solid 1px $gray-color;
  border-radius: 5px;
  height: 46px;
  &:focus {
    outline: none;
  }
  &.input-task {
    border-radius: 5px;
    width: 100%;
  }
}
.input-date-container {
  display: flex;
  margin-top: 8px;
  .input-date {
    flex-grow: 1;
  }
}
