input,
select {
  padding: 10px;
  font-size: 16px;
  border: solid 1px $gray-color;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  &:focus {
    outline: none;
  }
}
.task-input-group {
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
  display: flex;
  .task-input {
    flex-grow: 1;
    input {
      border-right: 0px;
      border-radius: 5px 0px 0px 5px;
    }
  }
}
.input-category-group {
  display: flex;
  align-items: flex-end;
}
.input-date {
  width: 41px;
  height: 46px;
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
}
.input-set {
  flex-grow: 1;
  padding-top: 10px;

  select {
    margin-top: 0;
  }
}
